main {
	flex-direction: row;
	align-items: stretch;
}
.previewDoc {
	width: calc(100% / 3);
	margin: 1em;
	flex-grow: 0;
	flex-shrink: 0;
	box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.3);
	border-radius: var(--borderRadius);
}
.previewDoc.input {
	overflow: hidden;
	display: grid;
	place-items: center;
}
.previewDoc img {
	max-width: 100%;
	max-height: 100%;
}
.previewDoc.converted {
	padding: 1em;
	overflow: auto;
}
.progressCont {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.progressCont > * {
	width: 90%;
	height: 8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	text-align: center;
}
.progressBar {
	--completed: 0;
	--total: 1;
	--percentage: "0%";
	width: 100%;
	height: 2em;
	border-radius: var(--borderRadius);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: relative;
}
.progressBar::before {
	content: "";
	display: block;
	background-color: lawngreen;
	width: 100%;
	height: 100%;
	transform-origin: left center;
	transform: scaleX(calc(var(--completed) / var(--total)));
	transition-duration: 100ms;
}
.progressBar::after {
	content: var(--percentage);
	color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.progressMsg {
	margin-top: 1em;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3em;
	line-height: 1.5em;
}
.goBackPrompt {
	display: none;
	margin-top: 2em;
	flex-direction: column;
	justify-content: space-around;
}
.goBackPrompt.visible {
	display: flex;
}
.goBackPrompt a {
	padding: 0em 1em;
	font-size: 1.3em;
	height: 3em;
	background-color: deepskyblue;
	color: white;
	font-weight: bold;
	border-radius: var(--borderRadius);
	transition-duration: 200ms;
}
