.contentCont {
	position: relative;
	height: calc(100% - 3.5em);
}
.contentCont > * {
	width: 100%;
	height: 100%;
}
.contentCont > label {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 2em;
	color: #CCC;
	text-align: center;
	display: grid;
	place-items: center;
}
.entriesCont:not(:empty) + label {
	display: none;
}
.historyEntry {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 1em;
}
.historyEntry > * {
	--columnWidth: 30%;
	width: var(--columnWidth);
	max-width: var(--columnWidth);
}
.historyEntry:not(:last-child) {
	--offset: 2em;
	box-shadow: 0em var(--offset) 5px calc(0em - var(--offset)) rgba(0, 0, 0, 0.3);
}
.doc {
	justify-content: center;
}
.docInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.docName, .docTime {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.docName {
	font-size: 1.2em;
}
.docTime {
	font-size: 0.9em;
}
