.contentCont {
	height: calc(100% - 3.5em);
}
.historyEntry {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 1em;
}
.historyEntry > * {
	--columnWidth: 30%;
	width: var(--columnWidth);
	max-width: var(--columnWidth);
}
.historyEntry:not(:last-child) {
	--offset: 2em;
	box-shadow: 0em var(--offset) 5px calc(0em - var(--offset)) rgba(0, 0, 0, 0.3);
}
/*TODO remove justify-content: center when adding image preview feature*/
.doc {
	justify-content: center;
}
.docInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.docName, .docTime {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.docName {
	font-size: 1.2em;
}
.docTime {
	font-size: 0.9em;
}
/*TODO remove display: none when adding image preview feature*/
.docLabel {
	display: none;
}
