.menuButtonContainer {
	flex-grow: 1;
	min-height: calc(5em * 5);
	max-height: calc(5em * 6);
	margin: 1em 0em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	width: 70%;
	min-width: 200px;
	max-width: 500px;
}
.menuButton {
	border-radius: 0.5em;
}
.menuButton {
	text-decoration: none;
	height: 5em;
	display: grid;
	place-items: center;
	background-color: white;
	color: grey;
	font-size: 1.2em;
	font-weight: bold;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: transform 150ms, box-shadow 150ms;
}
.menuButton:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
