.contentCont {
	display: initial;
}
h2 {
	margin-top: 1em;
	margin-bottom: -0.2em;
}
hr {
	width: 85%;
	margin: 0.5em auto;
}
p {
	margin: 0.5em 0px;
	font-size: 1.1em;
}
p + ul, p + ol {
	margin-top: -0.2em;
}
ul, ol {
	padding-left: 1em;
}
ul li::marker {
	content: "- ";
}
li:first-child {
	margin-top: 0.2em;
}
li {
	font-size: 1em;
	margin: 0.5em 0em;
}
