:root {
	--pageBackgroundColor: #FFF;
	--titleColor: darkgrey;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}
body {
	background-color: var(--pageBackgroundColor);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
}
header {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	place-items: center;
}
header a {
	padding: 0.3em;
	border-radius: 1em;
	display: grid;
	place-items: center;
	font-size: 2em;
}
header i {
	color: #CCC;
	transition: 200ms;
}
header a:hover i {
	color: #000;
	transform: scale(1.1);
}
header h1 {
	color: var(--titleColor);
	font-size: 2em;
	font-weight: 900;
	padding: 0.3em 0;
	background-color: var(--pageBackgroundColor);
	flex-grow: 0;
	position: relative;
	display: grid;
	place-items: center;
	text-align: center;
	z-index: 1;
	grid-column: 2;
}
header h1::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	height: 2px;
	background-color: blue;
	border-radius: 1px;
	width: 0%;
	transition-duration: 1s;
}
.loaded header h1::after {
	width: 90%;
}
main {
	padding: 1em 0em;
	width: 100%;
	flex-basis: 0;
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
