:root {
	--pageBackgroundColor: #FFF;
	--titleColor: darkgrey;
	--headerHeight: 3.5em;
	--docImgWidth: 100px;
	--docDivWidth: 150px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}
body {
	background-color: var(--pageBackgroundColor);
	height: 100vh;
}
body > * {
	width: 100%;
}
header {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	place-items: center;
	height: var(--headerHeight);
}
header a {
	padding: 0.3em;
	border-radius: 1em;
	display: grid;
	place-items: center;
	font-size: 2em;
}
header i {
	color: #CCC;
	transition: 150ms;
}
header a:hover i {
	color: #000;
	transform: scale(1.1);
}
header h1 {
	color: var(--titleColor);
	font-size: 2em;
	font-weight: 900;
	padding: 0.3em 0;
	background-color: var(--pageBackgroundColor);
	flex-grow: 0;
	position: relative;
	display: grid;
	place-items: center;
	text-align: center;
	z-index: 1;
	grid-column: 2;
}
header h1::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	height: 2px;
	background-color: blue;
	border-radius: 1px;
	width: 0%;
	transition-duration: 1s;
}
.loaded header h1::after {
	width: 90%;
}
main {
	padding: 1em;
	height: calc(100% - var(--headerHeight));
	max-height: calc(100% - var(--headerHeight));
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
a {
	text-decoration: none;
	display: grid;
	place-items: center;
}
.button {
	cursor: pointer;
}
.button.disabled {
	background-color: grey;
	color: lightgrey;
	pointer-events: none;
	transform: scale(0.95);
}
.button:not(.disabled):hover {
	transform: scale(1.05);
}
.closeButton {
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	background-color: red;
	left: 0%;
	top: 0%;
	transform: translate(-50%, -50%);
	display: grid;
	border-radius: 50%;
	color: white;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms;
	cursor: pointer;
}
.closeButton::before, .closeButton::after {
	content: "";
	position: absolute;
	width: 65%;
	height: 12%;
	top: 50%;
	left: 50%;
	background-color: white;
	transform-origin: center center;
	border-radius: 1em;
}
.closeButton::before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.closeButton::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}
