main {
	justify-content: space-between;
}
.contentCont {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	padding: 1em;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	overflow: auto;
}
.clearButton {
	width: 12em;
	font-size: 1.5em;
	padding: 0.3em 1em;
	font-weight: bold;
	text-align: center;
	background-color: red;
	color: white;
	border-radius: 1em;
	transition-duration: 300ms;
}
