main {
	padding-left: 2em;
	padding-right: 2em;
}
.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2em;
	margin-bottom: 1em;
}
.buttonContainer a {
	padding: 1em;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-weight: bold;
	transition-duration: 0.5s;
}
.buttonContainer a:nth-child(1) {
	grid-column: 2;
	background-color: blue;
}
.buttonContainer a:nth-child(2) {
	background-color: limegreen;
}
.buttonContainer a.disabled {
	background-color: grey;
	color: lightgrey;
	pointer-events: none;
}
.fileInputCont {
	position: relative;
	flex-grow: 1;
	align-self: stretch;
	border-radius: 10px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
	transition-duration: 0.7s;
	overflow: auto;
}
input[type="file"] {
	display: none;
}
.fileLabel {
	position: absolute;
	border-radius: inherit;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: lightblue;
	font-size: 1.5em;
	font-weight: bold;
	transition-duration: 0.5s;
	display: grid;
	place-items: center;
	text-align: center;
}
.fileLabel:hover, .previewImageContainer:not(:empty) + .fileLabel:hover {
	color: blue;
	opacity: 1;
}
.previewImageContainer:not(:empty) + .fileLabel {
	opacity: 0;
}
input[type="file"]:disabled ~ .fileLabel {
	display: none;
}
.previewImageContainer {
	padding: 1em;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(var(--docDivWidth), 1fr));
	grid-gap: 1em;
}
.previewImageContainer > * {
	z-index: 1;
}
